.Header {
    
    align-items: center;
    display: flex;
    justify-content: center; 
    padding: 10px 25px;
    background-color: black; 
    
    border-radius: 15px; 
    margin: 20px auto; 
    width: 80%; 

    border:1px solid #00BFFF; 
    box-shadow: 0 0 10px #00BFFF, 
                0 0 20px #00BFFF,
                0 0 30px #00BFFF,
                0 0 40px #00BFFF,
                0 0 70px #00BFFF;

}

.HeaderNav {
    display: flex;
    width: 100%; 
    justify-content: center; 
}

.HeaderNav a {
    color: white; 
    font-size: 22px;
    font-weight: bold;
    margin: 0 8px;
    padding: 3px;
    text-decoration: none;
    text-align: center; 
}

.HeaderNav a:hover {
    color: #CCCCCC; 
}


.Form {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    
}



  .centeredContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 

    
  }

  .UserProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    padding: 200px; /* Increased padding */
    text-align: center;
    color: #fff; 
    max-width: 900px; /* Increased max-width */
    margin: 0 auto;
    font-size: 30px;

    border:1px solid #00BFFF; 
    box-shadow: 0 0 10px #00BFFF, 
                0 0 20px #00BFFF,
                0 0 30px #00BFFF,
                0 0 40px #00BFFF,
                0 0 70px #00BFFF;
}




@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background: black 
}

  
.headerStyle {
    color: white; 
    font-size: 36px; 
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7), 
                0 0 20px rgba(0, 191, 255, 0.7),
                0 0 30px rgba(0, 191, 255, 0.7),
                0 0 40px #00BFFF,
                0 0 70px #00BFFF,
                0 0 80px #00BFFF,
                0 0 100px #00BFFF;
}


  
.postCard {
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 5px solid #00BFFF; 
    box-shadow: 0 0 50px #00BFFF; 
}
  .postContent {
    background-color: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  .postImage {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }
  
  .postCaption {
    color:black;
    padding: 10px; 
    text-align: center; 
  }
  
  



  
  
  