
.Header{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;
}

.HeaderNav a{
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 0 8px;
    padding: 3px;
    text-decoration: none;
}

.Form {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

  .centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }

.UserProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: #fff; 
    max-width: 300px; 
    margin: 0 auto;
  }
  



.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    gap: 20px;
  }
  
  .postCard {
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    border-radius: 10px; 
    overflow: hidden; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  }
  
  .postContent {
    background-color: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
  }
  
  .postImage {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }
  
  .postCaption {
    color:black;
    padding: 10px; 
    text-align: center; 
  }
  
  



  
  
  